@import "../../../utils/colors";

.navbar__btn-login {
  width: 60px;
  height: 28px;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  background: @btnColors;
  transition: .2s;

  &:hover {
    background: #0056ba;
    transition: .2s;
  }
  &:active {
    background: #2793ff;
    transition: .2s;
  }
}

@import "../../../utils/colors";

.login {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 50px auto;

  h1 {
    text-align: center;
    color: #333333;
  }

  .login__btn {
    height: 50px;
    background: @btnColors;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
    margin: 15px 0 15px 0;

    &:active {
      background: #0056ba;
      transition: .2s;
    }
    &:disabled {
      opacity: .5;
    }
  }
}

.logout {
  background: #b3b3b3;
  color: #000;

  &:hover {
    background: #8d8d8d;
  }
  &:active {
    background: #d2d2d2;
  }
}