@import "../../../utils/colors";

.signUp {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 50px auto;

  h1 {
    text-align: center;
    color: #333333;
  }

  .signup__name-block {
    display: flex;
    justify-content: space-between;
  }

  input {
    height: 60px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #eeeeee;
    outline: none;
    border: 2px solid #eeeeee;
    font-size: 18px;
    padding: 0 0 0 10px;
    transition: .2s;

    &::placeholder {
      color: #b3b3b3;
    }
    &:focus {
      border: 2px solid #0096ff;
      transition: .2s;
    }
  }

  .signup__btn {
    height: 50px;
    background: @btnColors;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;

    &:active {
      background: #0056ba;
      transition: .2s;
    }
    &:disabled {
      opacity: .5;
    }
  }
}