@import "../../../utils/colors";

.signUp {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 50px auto;

  h1 {
    text-align: center;
    color: #333333;
  }

  .signup__name-block {
    display: flex;
    justify-content: space-between;
  }
  .signup__btn {
    height: 50px;
    background: @btnColors;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
    margin: 15px 0 15px ;

    &:active {
      background: #0056ba;
      transition: .2s;
    }
    &:disabled {
      opacity: .5;
    }
  }
}